# Search for one of the Survivor's Information

## Import needed libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

## Read .csv files into variables

In [3]:
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')

## Combine Datasets

In [4]:
titanic_all = pd.concat([train_data, test_data], sort=True).reset_index(drop=True)

In [5]:
titanic_all.head()

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",0,2,1,female,1,1.0,PC 17599
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450

## Read into a dataframe the Webscraped survivor stories
### contains Passenger and Crew

In [6]:
survivor_df = pd.read_csv('survivor_df.csv')

In [7]:
survivor_df.rename(columns = {'Unnamed: 0':'Name'}, inplace = True)

In [8]:
# Add column to distinguish Passenger from Crew
status = ['Passenger', 'Passenger', 'Passenger', 'Passenger', 'Crew', 'Passenger', 'Passenger', 'Crew', 'Crew', 'Passenger', 'Passenger', 'Passenger', 'Crew', 'Passenger', 'Passenger', 'Passenger']

In [9]:
#insert new column in first position
survivor_df.insert(1, 'Status', status)

In [10]:
survivor_df

,Name,Status,Survivor_Story
0,Millvina Dean,Passenger,Millvina was the youngest person (2 months old) to survive the Titanic sinking. She passed away in 2009 at the age of 97. Her death in 2009 made her the last dead Titanic survivor.
1,Bruce Ismay,Passenger,"He was one of the owners of the Titanic ship. Bruce held a top position as manager of International Mercantile Marine. He was a business magnate from England who came under intense criticism after surviving the disaster. As a senior official of the shipping line, there were controversies that Bruce allegedly instructed the captain to speed faster, so that the Titanic could set a speed record upon its arrival in New York City."
2,The Navratil orphans,Passenger,"Michel Navratil and Edmond Navratil were two young brothers who luckily survived the Titanic tragedy. The children’s parents were locked up in divorce conflicts. So, their dad bought the Titanic ticket and planned to relocate with his children to the USA. He even faked names for himself and his children in order to secure tickets. When the Titanic disaster struck and death was about to lay its icy hand on him and the children, Michel Sr. secured the last lifeboat for his children. The Navratil children survived, but their father sadly did not make it. The sad story of the orphans gained a lot of media attention. After spending a couple of weeks in the care of a French survivor from the Titanic – Margaret Hays – the Navratil children eventually made into the comforting hands of their mother."
3,Cosmo and Lucy Duff Gordon,Passenger,"Cosmo and Lucy Duff gained notoriety on the ship, simply because of their survival. Seated in the first-class compartment as a couple, they rushed for the first lifeboat. Lucy was a famed fashion designer from Britain. Cosmo (as a rich man) was criticized for bribing the crew and ignoring the women-and-children first policy, but he denied doing so. If Lucy hadn’t cancelled her Lusitanian trip in 1915, she would have been involved in another ocean tragedy – Germans torpedoed a ship that she was supposed to be on. Regarding the Titanic disaster, it has been claimed that the Gordons lifeboat could have carried more than 12 people, but Lucy and her husband allegedly bribed the crew not to allow more passengers to join their boat, they feared for their lives."
4,Violet Jessop,Crew,"In addition to the RMS Titanic disaster, Violet Jessop survived two separate shipping catastrophes. Jessop was a ship stewardess who survived the Titanic disaster. Before her involvement in the Titanic tragedy, Jessop had early on survived the RMS Olympic collision with another ship. Lucky enough, the watertight compartment of the Olympic worked well and saved their precious lives. Amidst the commotion and shoving on the sinking Titanic, Jessop helped non-English passengers to safety before she was officially called to join a lifeboat. In all, Jessop survived three maritime accidents – the RMS Olympic in 1911; the RMS Titanic in 1912; and the HMHS Britannic in 1916 – before dying in 1971 – she was 83. Due to her remarkable close calls with shipping disasters, Jessop often went by the name, “Miss Unsinkable”."
5,Madeleine Astor,Passenger,"Madeline’s husband (John Astor) was the richest person on board with a net worth of 87 million US Dollars. She conditionally inherited her husband’s wealth, but later relinquished the wealth and got remarried several times."
6,Dorothy Gibson,Passenger,She was a young movie star of 22 who survived the 1912 Titanic catastrophe. She later starred in a silent film titled “Saved from the Titanic”. Another very interesting fact about Dorothy Gibson is that she wore her Titanic dress as the costume for the movie. The movie was premiered in May that year.
7,Frederick Fleet,Crew,"Frederick Fleet was 25 at the time of the disaster He was a sailor from Britain who became a Titanic crewmember at the age of 25. He was part of the watchmen who saw the iceberg in time. After seeing the iceberg, he sounded a bell and alerted the bridge – it was probably too late but others partly blamed him for the disaster. Fleet in his later life became depressed and took his own life in 1965."
8,Charles Joughin,Crew,"He was a crew member who used his own intelligence to survive the tragedy. After disaster had struck, Charles and other passenger started drinking alcohol to defeat the cold developing in the icy waters. Charles consumed alcohol as he helped other passengers to escape to the lifeboats. He didn’t get a space for himself in the boat, but his alcohol consumption helped him to live up to 3 hours in the icy waters before rescue eventually came. He lived for 78 years before dying in New Jersey."
9,Eva Miriam Harts,Passenger,"She was only 7-years-old when the disaster caught her together with her parents on the ship. At the time of the accident, she was asleep. Her father’s resilience saved the life of Eva and her mother. Titanic went down with Eva’s father. His body was never identified. When she grew up, Eva became a great Australian singer, politician and a magistrate. She strongly criticized the insufficient number of lifeboats, which led to numerous deaths. According to Eva, the Titanic sinking site should be treated with reverence since it is a graveyard. By this, she was against salvage attempts of the Titanic’s wreckage."
10,Archibald Gracie IV,Passenger,"He was a writer and a historian. After surviving the disaster, he wrote a vivid account of the events leading up to the tragedy, but he didn’t live long afterward. After helping scores of other passengers to evacuate the ship, Archibald found himself resurfaced above the icy waters as the ship sank. He climbed onto a floating lifeboat and later got rescued, along with other survivors."
11,Henry S. Harper,Passenger,He was a United States business magnate who belonged to the Harper & Brothers firm. He was among the notable survivors of the Titanic disaster. Harper made a good name for himself as a forest conservationist.
12,Charles Lightoller,Crew,"He was a second officer on the Titanic. Lightoller strictly observed the women-first policy to the letter, somewhat to the apparent detriment of male passengers. In all fairness he was slightly responsible for allowing half-empty lifeboats sail. Luckily for him, he survived- this was after he had sank shortly with the ship and later resurfaced. As the minutes rolled by Lightoller;s survival instincts got sharper. He held on to his dear life by clutching onto an inverted boat until rescue came by. Years after the disaster, Lightoller would go on to make a lot of recommendations to improve maritime safety on the high seas."
13,Margaret Brown,Passenger,"Margaret Brown, also known as “The Unsinkable Molly Brown”, showed immense courage and rescued a number of drowning passengers. She was an influential philanthropist who was among the survivors. Margaret and her husband, James Brown, became extremely wealthy after their mining business flourished at the turn of the 20th century. As a social activist, she showed much concern for the welfare of children and women. She also helped to row back a lifeboat to the accident scene to save more survivors. She was nicknamed “The Unsinkable Molly Brown”. Her Titanic experience later became a Hollywood film."
14,Masabumi Hosono,Passenger,"He was the only Japanese national onboard the Titanic. As a foreigner, Hosono was initially turned away when he tried to join a lifeboat. When a second lifeboat had enough room for two more people, Hosono hopped in with his dear life. Allegedly, his survival cost him his job. The media ridiculed him and shamed his family until his last days."
15,Nöel Leslie,Passenger,"Nöel Leslie, the Countess of Rothes She was a British Countess; she rose to the title when she got married to Norman Evelyn Leslie- the Earl of Rothes. Nöel was a popular personality in London. She boarded the ship together with her cousin Cherry. The cousins were among the lucky passengers who hopped onto lifeboats and survived the tragedy. Leslie, her cousin and some crew members suggested going back to rescue more survivors, but their idea was met with resistance from other lifeboat survivors. Nöel became very philanthropic after the disaster and discharged duties as a nurse during the First World War."

## Search for a Passenger by last name in the Titanic Dataset to find out more information:

In [11]:
titanic_all[titanic_all['Name'].str.contains('Hosono')]

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket
288,42.0,NaN,S,13.0,"Hosono, Mr. Masabumi",0,289,2,male,0,1.0,237798